* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #6495ed;
}

main {
    min-width: 100%;
    min-height: 100vh;
}

.clock{
    width: 600px;
    height: 600px;
    background-color: #f0f8ff;
    border-radius: 600px;
    border: 15px groove #333; 
}